{% extends 'layouts/tienda.html' %}

{% load cart_tags %}

{% block title %}Tienda{% endblock %}

{% block content %}

    <div class="jumbotron">
        <h1 class="display-4">Te damos la bienvenida a Zafiro</h1>
        <p class="lead">Somos lideres en la importacion de productos originales directamentes desde los Estados Unidos.</p>
    </div>
    Total {{ cart_total_amount|money_format:"$" }}
    <div class="row">
        <div class="col-9">
            <div class="row">
                {% for product in products %}
                    <div class="col-md-3 col-sm-12 col-lg-4 d-flex align-items-stretch">
                        <div class="card" style="width: 100%">
                            <img src="{{ product.image.url }}" style="width:100%;" class="card-img-top"
                                 alt="{{ product.name }}"/>
                            <div class="card-body">
                                <h5 class="card-title"> {{ product.name }}</h5>
                                <p class="card-text">{{ product.excerpt }}</p>
                                <p class="card-text">{{ product.price }}€</p>
                            </div>
                            <div class='card-footer text-center'>
                                <a href="{% url 'cart:add_product' product.id %}" class="btn btn-success" id="progeria">
                                    Añadir al carrito
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-3">
            {% include "cart/widget.html" %}
        </div>

    </div>
{% endblock %}